.lf-contentandattachments {
    padding: 50px 0;
}

.lf-contentandattachments-attachments {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

a.lf-contentandattachments-item {
    transition: 300ms;
    display: block;
    background-color: #aaa;

    &:hover {
        opacity: .5;
    }
}